target
nbactions.xml
hs_err_pid*.log
*.prefs
.classpath
.project
.DS_Store
*.iml
*.ipr
*.iws
*.tlog
/emergency-service-app/.settings/
/emergency-service-domain/.settings/
/emergency-service-core/.settings/
/emergency-service-model/.settings/
/run/.settings/
/emergency-service-taskslists-ui-swing/.settings/
/emergency-service-taskslists-ui-web/.settings/
/.settings/
/emergency-service-core/db/
/emergency-service-model/db/
emergency-service-core/data/
emergency-service-model/data/
run/data/
tooling/jbpm-installer-5.2-SNAPSHOT/
