@charset "UTF-8";
/* CSS Document */
body{
	background-color:#f2f2f2;
	margin:20px;
	padding:0px;
}

p, h1, h2, h3, h4, h5, a, li, ul, td, b, strong {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
	color:#333;
}
h1{font-size:24px;}
h2{font-size:20px;margin-bottom:10px;}
h3{font-size:16px; color:#fff;}
h4{font-size:12px;}
h5{font-size:10px;}
a{color:#000; font-weight:bold;}
span{color:#f03;}

.head{
height:130px;
	background-color:#F03;
	margin-bottom:20px;
vertical-align:middle;
background-image:url(../image/head-bg.png);
background-repeat:no-repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	    -moz-box-shadow: 0px 3px 5px #757575;
    -webkit-box-shadow: 0px 3px 5px #757575;
    box-shadow: 0px 3px 5px #757575;

}
.head h1{color:#FFF; position:relative; left:110px; top:40px;}
.head h5{color:#FFF; position:relative; left:110px; top:45px;}

table{
	border:1px solid #F03;
	border-collapse:collapse;
	width:800px;
	margin-bottom:10px;
	
}
td{
	border:1px solid #F03;
	border-collapse:collapse;
	padding:10px;
	
}
th{
	border:1px solid #F03;
	border-collapse:collapse;
	padding:5px;
	text-align:left;
	color:#FFF;
	background-color:#F03;
}
.special{background-color:#CCC; font-weight:bold;}

.wrap{
	width:800px;